<h1 style="color: #5e9ca0;">Hola&nbsp;<span style="color: #2b2301;">Gabi</span> ^^!</h1>
<h2 style="color: #2e6c80;">P&aacute;gina de prueba:</h2>
<p>Esto es una web de prueba. Ahora mismo no tiene estilos, ni plantilla ni nada de nada. Solo texto html a pelo.</p>
<p>Es solo para probar visores 3D, que es lo m&aacute;s complicado de todo lo que necesitas.</p>
<p>Una vez que eso est&eacute; guay y te guste, la parte de l&oacute;gica dicot&oacute;mica es solo un minireto inform&aacute;tico.</p>
<h2 style="color: #2e6c80;">Primera prueba 3D:</h2>
<p>Te dejo esta tuerca cutre porque no tenemos arbolitos. Ya me cuentas. Un besoteee</p>
<p>&nbsp;</p>
<iframe scrolling='no' frameborder='0' allowfullscreen='true' src='https://www.3dcontentcentral.com/external-site-embed.aspx?format=3D&catalogid=171&modelid=1047009&width=250&height=250&edraw=true' name='PreviewFrame3D' id='PreviewFrame3D' width='400' height='355'></iframe>
